.backhome {
    width: 80px;
    text-align: center;
}

.backhome span {
    font-size: 50px;

}

.linkhome {
    color: darkorange;
    font-weight: bolder;
    text-decoration: none;
}

.backhome:hover {
    opacity: 0.6;
}

/* FROM */
.form {
    padding: 20px;
}

.form fieldset {
    width: 700px;
    background-color: cornsilk;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    border-radius: 6px;
    margin: 5px auto;
}

.formlegend {
    text-align: center;
    background-color: white;
    border: ridge 2px gray;
    width: 300px;
    padding: 12px;
    font-size: 30px;
    margin: 1% auto;
    border-radius: 10px;
}

.control {
    margin-top: 30px;
}

.control label {
    padding: 10px;
}