html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
}

.headerlink {
    width: 20%;
    display: block;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.headerlink:hover {
    opacity: 0.6;
    transform: translateX(-20px) scale(1.2);

}

.headertitle {
    width: 79%;
    color: peru;
    text-align: center;
}

/* sitelinks*/
.sitelinks {
    background-color: peru;
    display: flex;
    justify-content: center;

}

.navlink {
    display: inline-block;
    text-align: center;
    padding: 1em 2em;
    width: 33.3%;
    color: whitesmoke;

}

.navlink:hover {
    background-color: whitesmoke;
    border: dashed 2px gray;
    color: peru;
}

/* mainbody*/
.mainbody {

    display: flex;
    flex-wrap: wrap;
}

.mainDiv {
    width: 66%;
}

.pagelinks {
    width: 30%;
}

.mainDiv section {
    background-color: bisque;
    padding: 1em 2em;
}

.mainDiv article {
    background-color: burlywood;
    padding: 1em 2em;
}

/* pagelinks*/
.pagelinks {
    padding: 1em;
}

.linknav {
    border-bottom: dotted 1px rgb(221, 168, 168);
    display: block;
    padding: 1em;
    text-decoration: none;
    color: peru;
}

.linknav:hover {
    color: rgb(186, 124, 124);
    font-weight: 900;
}

/*figure*/
img {
    width: 100%;
    display: block;
}

.figureimg {
    width: 70%;
    margin: 2% auto;
    position: relative;
    box-shadow: 1px 4px 7px rgb(144, 125, 222);
    border-radius: 12px;
    overflow: hidden;
}

.imatitle {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    color: rgb(247, 243, 244);
}

/* FOOTER */
.contact {
    background-color: rgb(13, 41, 6);
    color: whitesmoke;
    display: flex;
    padding: 30px;
}

.contactcolum {
    width: 33%;
}

.policieslink {
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

.followicon {
    width: 50px;
    display: inline-block;
    padding-right: 1em;
    opacity: 0.6;
}

.followicon:hover {
    opacity: 1;
}